.component-button-panel {
  width: 100%;
}

.component-button-panel > * {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.Button {
  flex-basis: 25%;
  background-color: #e0e0e0;
  border: 1px solid #bababa;
  cursor: pointer;
}

.zero {
  flex-basis: 50%;
}

.operator {
  background-color: #f5913e;
}
